
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 5 / span 5;
    text-align: center;
    border: 4px red;
}

.div2 {
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    text-align: center;
}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
    text-align: center;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

body {
  background-color: #231f20;
  color: #eceff1;
}