html {
  background-color: #231f20;
}

body {
  color: #eceff1;
  font-size: 20px;
  width: 80%;
}

h1 {
  color: #fdbb30;
}

h2 {
  margin-top: 1%;
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(135deg, #fdbb30, #eceff1, #fdbb30);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  width: 80%;
  position: relative;
  z-index: 2;
  text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.3),
      4px 4px 8px rgba(0, 0, 0, 0.2),
      6px 6px 12px rgba(0, 0, 0, 0.1);
}

div {
  width: 80%;
}
/* Title Bar */
.title {
  margin-top: 1%;
  font-size: 42px;
  font-weight: bold;
  background: linear-gradient(135deg, #fdbb30, #eceff1, #fdbb30);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.3),
      4px 4px 8px rgba(0, 0, 0, 0.2),
      6px 6px 12px rgba(0, 0, 0, 0.1);
}


/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}